<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse navbar navbar-dark bg-dark" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/opening-page">Submit</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/openQuizList">Solve<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="h-100">

</div>
<script>
    
</script>
</body>
</html>